@import "tailwindcss";

/* Custom Theme Variables */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --color-divider: #262626;
}

/* Global Body Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #fbf8f3;
  font-family: var(--font-poppins);
}

/* Utility Animations */

/* Underline Animation */
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hover-underline:hover::before {
  transform: scaleX(1);
}

/* Gradient Animation */
@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 8s linear infinite;
  }

  /* Shine Animation */
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

.animate-star-movement-bottom {
  animation: star-movement-bottom linear infinite alternate;
}

.animate-star-movement-top {
  animation: star-movement-top linear infinite alternate;
}

/* Marquee Animation */
.marquee-container {
  overflow: clip;
}

.marquee {
  --gap: 20px;
  --speed: 15s;
  --direction: forwards;

  width: max-content;
  padding-left: var(--gap);
  gap: var(--gap);

  animation-name: marquee-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--speed);
  animation-direction: var(--direction);
}

@keyframes marquee-animation {
  to {
    transform: translateX(-50%);
  }
}